.bgindex {
  background-color: #f3f3f3;
}
.section_slider {
  position: relative;
  margin-bottom: 40px !important;
}
@media (max-width: 991px) {
  .section_slider {
    margin-bottom: 25px !important;
  }
}
.section_slider .swiper-button-next,
.section_slider .swiper-button-prev {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 36px;
  height: 36px;
  z-index: 1;
  text-align: center;
  font-size: 15px;
  line-height: 32px;
  cursor: pointer;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  background-image: none;
}
.section_slider .swiper-button-next:hover,
.section_slider .swiper-button-prev:hover {
  background-color: var(--mainColor);
}
.section_slider .swiper-button-next:after,
.section_slider .swiper-button-prev:after {
  width: 30px;
  height: 30px;
  font-size: 14px;
  color: white;
}
@media (max-width: 991px) {
  .section_slider .swiper-button-next,
  .section_slider .swiper-button-prev {
    display: none;
  }
}
.section_slider .swiper-button-prev {
  width: 36px;
  right: auto;
  left: 10px;
  margin: 0;
  top: 50%;
  bottom: auto;
}
.section_slider .swiper-button-next {
  width: 36px;
  left: auto;
  right: 10px;
  margin: 0;
  top: 50%;
  bottom: auto;
  margin: 0px;
}
.section_slider .swiper-button-disabled {
  display: none;
}
.title-module {
  display: block;
  position: relative;
  text-align: center;
  line-height: 1;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .title-module {
    font-size: 20px;
  }
}
.title-module a {
  display: block;
  color: var(--subColor);
  text-transform: uppercase;
  display: inline-block;
}
.title-module a:hover {
  color: var(--mainColor);
}
.title-module span {
  display: block;
  color: var(--subColor);
  text-transform: uppercase;
  display: inline-block;
}
.title-module .box_title {
  display: inherit;
}
.title-module .box_title img {
  max-width: 140px;
}
@-webkit-keyframes circleanima {
  0% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.5;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
@keyframes circleanima {
  0% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.4;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
.section_product {
  position: relative;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .section_product {
    margin-bottom: 25px;
  }
}
.section_product .swiper-container {
  padding: 0px 2px;
}
.section_product .swiper-button-next,
.section_product .swiper-button-prev {
  display: block;
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 30px;
  z-index: 1;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  color: var(--subColor);
  background: #fff;
  border: 1px solid var(--subColor);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_product .swiper-button-next .swiper-button-prev,
.section_product .swiper-button-prev .swiper-button-prev {
  left: 5px;
}
.section_product .swiper-button-next .swiper-button-next,
.section_product .swiper-button-prev .swiper-button-next {
  right: 5px;
}
.section_product .swiper-button-next .swiper-button-disabled,
.section_product .swiper-button-prev .swiper-button-disabled {
  cursor: no-drop;
  pointer-events: inherit;
}
@media (max-width: 767px) {
  .section_product .swiper-button-next,
  .section_product .swiper-button-prev {
    width: 30px;
    height: 30px;
  }
}
.section_product .swiper-button-next:after,
.section_product .swiper-button-prev:after {
  width: 30px;
  height: 30px;
  font-size: 10px;
  color: var(--subColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .section_product .swiper-button-next:after,
  .section_product .swiper-button-prev:after {
    width: 30px;
    height: 30px;
  }
}
.section_product .swiper-button-next:hover,
.section_product .swiper-button-prev:hover {
  background: linear-gradient(to right, var(--topHeader), var(--topHeader2));
  border: none;
}
.box_content_index {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .box_content_index {
    padding: 10px 7px;
  }
}
.section_product_1 .title-product,
.section_product_2 .title-product {
  display: block;
  position: relative;
  line-height: 1;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .section_product_1 .title-product,
  .section_product_2 .title-product {
    font-size: 20px;
  }
}
.section_product_1 .title-product .name_title,
.section_product_2 .title-product .name_title {
  color: var(--mainColor);
  text-transform: uppercase;
  display: inline-block;
}
.section_product_1 .title-product .name_title:hover,
.section_product_2 .title-product .name_title:hover {
  color: var(--subColor);
}
.section_product_1 .title-product .a-show-more,
.section_product_2 .title-product .a-show-more {
  float: right;
  display: inline-block;
  padding: 6px 10px;
  background-color: var(--mainColor);
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 300;
}
.section_product_1 .title-product .a-show-more:hover,
.section_product_2 .title-product .a-show-more:hover {
  background-color: var(--subColor);
}
.section_product_1 .box_banner_index,
.section_product_2 .box_banner_index {
  position: relative;
}
@media (max-width: 767px) {
  .section_product_1 .box_banner_index,
  .section_product_2 .box_banner_index {
    overflow: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    justify-content: initial !important;
    text-align: center !important;
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
  }
  .section_product_1 .box_banner_index .col-sm-12,
  .section_product_2 .box_banner_index .col-sm-12 {
    flex: 0 0 80%;
    max-width: 80%;
    padding-bottom: 10px;
  }
}
.section_product_1 .box_banner_index .three_banner,
.section_product_2 .box_banner_index .three_banner {
  overflow: hidden;
  display: block;
  position: relative;
  border-radius: 5px;
}
.section_product_1 .box_banner_index .three_banner:before,
.section_product_2 .box_banner_index .three_banner:before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: "";
  width: 0;
  height: 0;
  background: linear-gradient(to right, var(--topHeader), var(--topHeader2));
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
.section_product_1 .box_banner_index .three_banner:hover::before,
.section_product_2 .box_banner_index .three_banner:hover::before {
  -webkit-animation: circleanima 0.75s;
  animation: circleanima 0.75s;
}
.section_product_1 .link_title,
.section_product_2 .link_title {
  padding-top: 10px;
  text-align: right;
}
@media (max-width: 767px) {
  .section_product_1 .link_title,
  .section_product_2 .link_title {
    padding-top: 0px;
  }
}
.section_product_1 .link_title a,
.section_product_2 .link_title a {
  display: inline-block;
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  color: #333;
  font-size: 12px;
  margin: 5px 0 0 5px;
}
.section_product_1 .link_title a:hover,
.section_product_2 .link_title a:hover {
  border: 1px solid var(--mainColor);
  color: var(--mainColor);
}
@media (max-width: 767px) {
  .section_product_1 .link_title a,
  .section_product_2 .link_title a {
    font-size: 10px;
  }
}
.section_flash_sale {
  position: relative;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .section_flash_sale {
    margin-bottom: 25px;
  }
}
.section_flash_sale .time_box h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0px;
}
@media (max-width: 991px) {
  .section_flash_sale .time_box h2 {
    margin-bottom: 5px;
  }
}
@media (max-width: 322px) {
  .section_flash_sale .time_box h2 {
    font-size: 16px;
  }
}
.section_flash_sale .time_box h2 a {
  color: #ffe645;
}
.section_flash_sale .time_box h2 a:hover {
  color: #f7b039;
}
.section_flash_sale .time_box h2 a img {
  max-width: 26px;
  vertical-align: -6px;
  -webkit-animation: zoom-in-out 1500ms infinite;
  -moz-animation: zoom-in-out 1500ms infinite;
  -o-animation: zoom-in-out 1500ms infinite;
  animation: zoom-in-out 1500ms infinite;
}
@media (max-width: 322px) {
  .section_flash_sale .time_box h2 a img {
    max-width: 22px;
  }
}
@keyframes zoom-in-out {
  0% {
    transform: scale(0.8, 0.8);
  }
  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate(-8deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1, 1, 1) rotate(8deg);
  }
  40%,
  60%,
  80% {
    transform: scale3d(1, 1, 1) rotate(-8deg);
  }
  100% {
    transform: scale(0.9);
  }
}
.section_flash_sale .swiper_fade_text .swiper-wrapper {
  transition-timing-function: linear;
}
.section_flash_sale .swiper_fade_text .text-white {
  color: #fff;
}
.section_flash_sale .swiper_fade_text .text-white:hover {
  color: #ffe645;
}
.section_flash_sale .box-deal {
  background-color: var(--bgFlash);
  padding: 15px;
  position: relative;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .section_flash_sale .box-deal {
    padding: 10px;
  }
}
.section_flash_sale .box-deal .swi_deal_pro {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  .section_flash_sale .box-deal .swi_deal_pro {
    padding: 10px;
  }
}
.section_flash_sale
  .box-deal
  .swi_deal_pro
  .swiper-pagination.swiper-pagination-bullets {
  bottom: 0px;
}
.section_flash_sale
  .box-deal
  .swi_deal_pro
  .swiper-pagination.swiper-pagination-bullets
  .swiper-pagination-bullet {
  border-radius: 3px;
  width: 24px;
  height: 7px;
  background: #4a5579;
  line-height: 9px;
}
.section_flash_sale
  .box-deal
  .swi_deal_pro
  .swiper-pagination.swiper-pagination-bullets
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--bgFlash);
  background-size: 350% 100%;
}
.section_flash_sale .box-deal .count-down {
  display: block;
  padding: 0;
  background: transparent;
  margin-bottom: 0;
  position: relative;
  position: absolute;
  right: 13px;
  top: 15px;
}
@media (max-width: 767px) {
  .section_flash_sale .box-deal .count-down {
    right: 6px;
    top: 10px;
  }
}
@media (max-width: 991px) {
  .section_flash_sale .box-deal .count-down {
    text-align: center;
    margin-bottom: 8px;
  }
}
.section_flash_sale .box-deal .count-down .timer-view {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section_flash_sale .box-deal .count-down .timer-view span {
  font-size: 14px;
  margin: 3px;
  color: #fff;
  font-weight: 500;
}
@media (max-width: 767px) {
  .section_flash_sale .box-deal .count-down .timer-view span {
    margin: 3px 0px;
  }
}
.section_flash_sale .box-deal .count-down .timer-view .block-timer {
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  margin: 0px 3px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 322px) {
  .section_flash_sale .box-deal .count-down .timer-view .block-timer {
    width: 26px;
    height: 26px;
    font-size: 12px;
    line-height: 26px;
  }
}
.section_flash_sale .box-deal .count-down .timer-view .block-timer p {
  padding-top: 0px;
  margin-bottom: 0;
  display: block;
}
.section_flash_sale .result-label.temp1 {
  background: linear-gradient(to right, #ef3006, #c60004);
  border-radius: 20px;
  display: inline-block;
  font-size: 0;
  overflow: hidden;
  max-width: 100%;
  padding-right: 8px;
  bottom: 0px;
  left: 10px;
  position: absolute;
  margin-bottom: 0px;
}
.section_flash_sale .result-label.temp1 img {
  float: left;
  max-width: 16px;
}
.section_flash_sale .result-label.temp1 span {
  color: #fff;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 10px;
  font-weight: bold;
  line-height: 12px;
  margin-left: 3px;
  overflow: hidden;
  padding: 2px 0 0 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-line-clamp: 2;
  text-transform: uppercase;
}
@keyframes progress_bar_fill {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
.section_flash_sale .productcount {
  min-height: 20px;
  width: 100%;
  position: relative;
  margin-bottom: 5px;
}
.section_flash_sale .productcount .countitem {
  width: 100%;
  height: 16px;
  border-radius: 7px;
  position: relative;
  background: var(--mainColor);
  z-index: 1;
  margin-top: 5px;
}
.section_flash_sale .productcount .countitem.visible {
  background: var(--topHeader2);
}
.section_flash_sale .productcount .countitem .countdown {
  position: absolute;
  height: 16px;
  border-radius: 7px;
  background-color: var(--mainColor);
  z-index: 2;
  left: 0;
  top: 0;
  background-size: 40px 40px;
  animation: progress_bar_fill 2s linear infinite;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.25) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(255, 255, 255, 0.25) 75%,
    transparent 75%,
    transparent
  );
}
.section_flash_sale .productcount .countitem .countdown span {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  z-index: 3;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  left: 100%;
  top: -10px;
}
.section_flash_sale .productcount .countitem.sold-out .countdown {
  background: #ddd;
}
.section_flash_sale .productcount span {
  font-size: 12px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 4;
  color: #fff;
  line-height: 12px;
  left: 50%;
  font-weight: 400;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -os-transform: translateX(-50%);
}
@media (max-width: 767px) {
  .section_flash_sale .productcount span {
    line-height: 15px;
  }
}
.section_flash_sale .productcount .sale-bar {
  background: url(//bizweb.dktcdn.net/100/490/275/themes/913829/assets/sale_bag.png?1751952556342)
    0 no-repeat;
  width: 18px;
  height: 21px;
  background-size: contain;
  position: absolute;
  left: 3px;
  top: -6px;
  z-index: 1;
}
.section_product_tab {
  position: relative;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .section_product_tab {
    margin-bottom: 25px;
  }
}
.section_product_tab .title-product {
  margin: auto;
  width: max-content;
  position: relative;
  text-transform: uppercase;
  color: var(--mainColor);
  font-size: 24px;
  font-weight: 700;
  position: relative;
  margin-bottom: 15px;
}
.section_product_tab .title-product a {
  color: var(--mainColor);
}
@media (max-width: 767px) {
  .section_product_tab .title-product {
    font-size: 20px;
  }
}
.section_product_tab .title-product::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 2px;
  background: var(--mainColor);
  right: calc(100% + 15px);
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .section_product_tab .title-product::before {
    width: 50px;
  }
}
@media (max-width: 322px) {
  .section_product_tab .title-product::before {
    width: 25px;
    right: calc(100% + 10px);
  }
}
.section_product_tab .title-product::after {
  position: absolute;
  content: "";
  width: 70px;
  height: 2px;
  background: var(--mainColor);
  left: calc(100% + 15px);
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .section_product_tab .title-product::after {
    width: 50px;
  }
}
@media (max-width: 322px) {
  .section_product_tab .title-product::after {
    width: 25px;
    left: calc(100% + 10px);
  }
}
.section_product_tab .tabs-title {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .section_product_tab .tabs-title {
    float: inherit;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    flex-wrap: unset;
    padding-bottom: 10px;
    justify-content: center;
  }
}
.section_product_tab .tabs-title .tab-link {
  position: relative;
  background: none;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .section_product_tab .tabs-title .tab-link {
    margin: 0 10px;
    margin-left: 0px;
    margin-right: 10px;
  }
}
@media (max-width: 321px) {
  .section_product_tab .tabs-title .tab-link {
    margin-left: 0px;
    margin-right: 5px;
  }
}
.section_product_tab .tabs-title .tab-link.current span {
  color: var(--subColor);
  border-color: 2px solid var(--subColor);
}
.section_product_tab .tabs-title .tab-link span {
  display: block;
  line-height: 20px;
  padding: 5px 25px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  text-align: center;
  color: #333;
  border: 2px solid transparent;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 991px) {
  .section_product_tab .tabs-title .tab-link span {
    padding: 6px 10px;
  }
}
@media (max-width: 322px) {
  .section_product_tab .tabs-title .tab-link span {
    padding: 5px;
  }
}
@media (max-width: 767px) {
  .section_product_tab .tabs-title .tab-link span {
    font-size: 14px;
  }
}
.section_product_tab .tabs-title .tab-link span:hover {
  color: var(--subColor);
  border-color: 2px solid var(--subColor);
}
@media (min-width: 1026px) {
  .section_product_tab .col-lg-3 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (max-width: 1025px) {
  .section_product_tab .row {
    display: grid;
    grid-template-rows: 1fr;
    overflow: auto;
    justify-content: start;
    grid-template-columns: repeat(5, 24%);
  }
  .section_product_tab .row .col-md-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 1025px) and (max-width: 992px) {
  .section_product_tab .row {
    grid-template-columns: repeat(5, 30%);
  }
}
@media (max-width: 1025px) and (max-width: 767px) {
  .section_product_tab .row {
    grid-template-columns: repeat(5, 48%);
  }
}
@media (max-width: 1025px) and (max-width: 321px) {
  .section_product_tab .row {
    grid-template-columns: repeat(5, 50%);
  }
}
.section_product_tab .show-more-pro {
  padding: 10px 0px;
  text-align: center;
}
.section_product_tab .show-more-pro .a-show-more {
  padding: 7px 20px;
  background: linear-gradient(to right, var(--topHeader), var(--topHeader2));
  color: #000;
  font-size: 14px;
  transition: all 300ms;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 30px;
  font-weight: 600;
  display: inline-block;
}
.section_product_tab .show-more-pro .a-show-more:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}
.secttion_blog {
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .secttion_blog {
    margin-bottom: 25px;
  }
}
.secttion_blog .item_blog_index {
  display: block;
  position: relative;
}
.secttion_blog .item_blog_index .update_date {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 50px;
  height: 50px;
  text-align: center;
  background: var(--subColor);
  border-radius: 50%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  line-height: 1.2;
}
.secttion_blog .item_blog_index .update_date .day_art {
  border-bottom: solid 1px var(--subColor);
}
.secttion_blog .item_blog_index .update_date .year_art {
  font-weight: 600;
  font-size: 14px;
}
.secttion_blog .item_blog_index .image-blog {
  padding-bottom: 63.5%;
  overflow: hidden;
  height: auto;
  display: block;
  position: relative;
  border-radius: 5px;
}
.secttion_blog .item_blog_index .image-blog img {
  width: auto !important;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.3s ease-in-out all;
  will-change: opacify;
}
.secttion_blog .item_blog_index .blog_content {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.secttion_blog .item_blog_index .blog_content h3 {
  margin-bottom: 10px;
  line-height: 22px;
}
.secttion_blog .item_blog_index .blog_content h3 a {
  color: #222;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 44px;
}
.secttion_blog .item_blog_index .blog_content h3 a:hover {
  color: var(--mainColor);
}
.secttion_blog .item_blog_index .blog_content .blog_description {
  color: #2f2f2f;
  line-height: 22px;
  margin-bottom: 0px;
  word-break: break-word;
}
@media (max-width: 767px) {
  .secttion_blog .item_blog_index .blog_content .blog_description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 44px;
  }
}
.secttion_blog .item_blog_index .read-more {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0px;
  text-decoration: underline;
}
.secttion_blog .item_blog_index .read-more:hover {
  color: var(--mainColor);
}
.secttion_blog .item_blog_index:hover .image-blog img {
  transform: scale(1.1);
}
@media (max-width: 991px) {
  .secttion_blog .row {
    display: grid;
    grid-template-rows: 1fr;
    overflow: auto;
    justify-content: start;
    grid-template-columns: repeat(4, 30%);
    padding-bottom: 15px;
  }
  .secttion_blog .row .col-sm-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .secttion_blog .row {
    grid-template-columns: repeat(4, 76%);
  }
}
@media (max-width: 321px) {
  .secttion_blog .row {
    grid-template-columns: repeat(4, 86%);
  }
}
.section_coupon {
  position: relative;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .section_coupon {
    margin-bottom: 25px;
  }
}
.section_coupon .item_coupon {
  position: relative;
  background: #fff;
  padding: 5px;
  min-height: 90px;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    var(--topHeader),
    var(--topHeader2)
  );
}
.section_coupon .item_coupon .image {
  min-width: 70px;
  height: 70px;
  display: inline-block;
  position: relative;
  float: left;
}
@media (max-width: 350px) {
  .section_coupon .item_coupon .image {
    min-width: 70px;
    height: 70px;
  }
}
.section_coupon .item_coupon .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.section_coupon .item_coupon .image span {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  text-align: center;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  color: var(--mainColor);
  font-weight: 600;
  font-size: 18px;
}
.section_coupon .item_coupon .content_wrap {
  flex-direction: column;
  position: relative;
  padding-left: 10px;
  width: calc(100% - 70px);
  display: inline-block;
  float: right;
}
.section_coupon .item_coupon .content_wrap .content-top {
  font-size: 14px;
  font-weight: 700;
  color: var(--mainColor);
  line-height: 18px;
  margin-bottom: 3px;
}
.section_coupon .item_coupon .content_wrap .content-top span {
  display: block;
  font-size: 12px;
  color: #858585;
  font-weight: 400;
  line-height: 16px;
}
@media (max-width: 350px) {
  .section_coupon .item_coupon .content_wrap .content-top {
    font-size: 14px;
  }
  .section_coupon .item_coupon .content_wrap .content-top span {
    font-size: 10px;
  }
}
.section_coupon .item_coupon .content_wrap .content-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_coupon .item_coupon .content_wrap .content-bottom span {
  color: var(--mainColor);
  font-size: 12px;
}
.section_coupon .item_coupon .content_wrap .content-bottom .coupon-code {
  display: inline-block;
  color: #fff;
  background: linear-gradient(to right, var(--topHeader), var(--topHeader2));
  padding: 0px 10px;
  border-radius: 40px;
  margin-top: 3px;
  margin-left: 0px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  line-height: 13px;
  font-weight: 400;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_coupon .item_coupon .content_wrap .content-bottom .coupon-code:hover {
  background: var(--subColor);
}
.section_coupon .item_coupon .content_wrap .info-button {
  font-size: 12px;
  color: #009ef6;
  font-weight: 300;
  text-decoration: underline;
}
.section_coupon .item_coupon .content_wrap .info-button:hover {
  color: var(--mainColor);
}
.popup-coupon {
  padding: 0 8px;
  box-sizing: border-box;
  width: 450px;
  max-height: 505px;
  height: auto;
  background: transparent;
  margin: 0 auto;
  position: relative;
  position: fixed;
  left: 50%;
  top: 10%;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
    visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: none;
  touch-action: manipulation;
  opacity: 0;
  transform: translateX(-50%);
  z-index: -1;
  min-height: 200px;
}
@media (max-width: 767px) {
  .popup-coupon {
    width: 100%;
  }
}
.popup-coupon.active {
  opacity: 1;
  z-index: 99999;
}
.popup-coupon .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background-color: #fff;
  margin: 0 auto;
  -webkit-box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
}
.popup-coupon .content .title {
  display: block;
  width: 100%;
  padding: 10px;
  background: var(--mainColor);
  background: linear-gradient(to right, var(--topHeader), var(--topHeader2));
  color: #fff;
  text-transform: uppercase;
}
.popup-coupon .content .close-pop {
  position: absolute;
  top: 8px;
  right: 10px;
}
.popup-coupon .content .close-pop svg {
  width: 15px;
  height: 15px;
  transition: transform 0.3s;
}
.popup-coupon .content .close-pop svg path {
  fill: #fff;
}
.popup-coupon .content .close-pop:hover svg {
  transform: rotate(90deg);
}
.popup-coupon .content ul {
  width: 100%;
}
.popup-coupon .content ul li {
  padding: 10px;
  display: flex;
}
.popup-coupon .content ul li:nth-child(2n + 1) {
  background-color: #f9f9f9;
}
.popup-coupon .content ul li span:first-child {
  min-width: 110px;
  display: inline-block;
  color: var(--subColor);
}
.section_cate {
  position: relative;
  margin-bottom: 32px;
}
@media (max-width: 991px) {
  .section_cate {
    margin-bottom: 17px;
  }
}
.section_cate .cate-list {
  margin-top: 0px !important;
  text-align: center;
  gap: 15px;
  grid-template-columns: repeat(7, 1fr);
  display: grid;
  overflow: auto;
  justify-content: start;
}
@media (max-width: 991px) {
  .section_cate .cate-list {
    width: 100%;
    gap: 14px;
    grid-template-columns: repeat(7, 1fr);
    padding-bottom: 10px;
  }
}
.section_cate .item-cate {
  margin-top: 0px !important;
  text-align: center;
}
@media (max-width: 991px) {
  .section_cate .item-cate {
    width: 150px;
  }
}
@media (max-width: 767px) {
  .section_cate .item-cate {
    width: 150px;
  }
}
.section_cate .item-cate .image {
  max-width: 114px;
  max-height: 114px;
  position: relative;
  display: block;
  margin: 0 auto;
}
.section_cate .item-cate .image img {
  width: 114px;
  height: 114px;
  margin: 0 auto;
  border-radius: 10px;
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
@media (max-width: 991px) {
  .section_cate .item-cate .image img {
    transform: scale(1);
  }
}
.section_cate .item-cate h3 {
  font-size: 16px;
  margin-top: 10px;
}
@media (max-width: 991px) {
  .section_cate .item-cate h3 {
    font-size: 14px;
    margin-top: 5px;
  }
}
.section_cate .item-cate:hover a {
  color: var(--subColor);
}
.section_cate .item-cate:hover .image img {
  transform: scale(1);
}
.section_brand {
  position: relative;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .section_brand {
    margin-bottom: 25px;
  }
}
@media (min-width: 991px) {
  .section_brand .row {
    align-items: center;
  }
}
.section_brand .content_brand {
  text-align: center;
  line-height: 1.2;
  font-size: 12px;
}
.section_brand .content_brand strong {
  color: var(--mainColor);
}
.section_brand .swi_brand {
  position: relative;
  padding: 15px 0px 0px;
}
.section_brand .item_brand .a_brand {
  overflow: hidden;
  width: 100%;
  display: flex;
  -o-justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -os-justify-content: center;
  -o-display: flex;
  -moz-display: flex;
  -webkit-display: flex;
  -os-display: flex;
  align-items: center;
  position: relative;
  height: auto !important;
  padding-bottom: 100%;
  border-radius: 5px;
}
.section_brand .item_brand .a_brand img {
  width: auto !important;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  will-change: opacify;
  transform: scale(1);
  transition: all 0.5s ease;
}
.section_brand .item_brand .a_brand:hover img {
  transform: scale(1.1);
}
.section_brand .item_brand .name_brand {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
}
.section_brand .swiper-button-next,
.section_brand .swiper-button-prev {
  display: block;
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 30px;
  z-index: 1;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  color: var(--subColor);
  background: #fff;
  border: 1px solid var(--subColor);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_brand .swiper-button-next .swiper-button-prev,
.section_brand .swiper-button-prev .swiper-button-prev {
  left: 5px;
}
.section_brand .swiper-button-next .swiper-button-next,
.section_brand .swiper-button-prev .swiper-button-next {
  right: 5px;
}
.section_brand .swiper-button-next .swiper-button-disabled,
.section_brand .swiper-button-prev .swiper-button-disabled {
  cursor: no-drop;
  pointer-events: inherit;
}
@media (max-width: 767px) {
  .section_brand .swiper-button-next,
  .section_brand .swiper-button-prev {
    width: 30px;
    height: 30px;
  }
}
.section_brand .swiper-button-next:after,
.section_brand .swiper-button-prev:after {
  width: 30px;
  height: 30px;
  font-size: 10px;
  color: var(--subColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .section_brand .swiper-button-next:after,
  .section_brand .swiper-button-prev:after {
    width: 30px;
    height: 30px;
  }
}
.section_brand .swiper-button-next:hover,
.section_brand .swiper-button-prev:hover {
  background: linear-gradient(to right, var(--topHeader), var(--topHeader2));
  border: none;
}
.section_combo {
  position: relative;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .section_combo {
    margin-bottom: 25px;
  }
}
.section_combo .combo1 svg,
.section_combo .combo2 svg {
  fill: var(--subColor);
}
.section_combo .combo2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_combo .combo2 .item-combo {
  display: inline-block;
  color: #333;
  margin: 10px 5px;
  width: 80px;
  text-align: center;
}
.section_combo .combo2 .item-combo svg {
  width: 60px;
}
@media (max-width: 767px) {
  .section_combo .combo2 .item-combo {
    margin: 7px 3px;
    width: 60px;
  }
  .section_combo .combo2 .item-combo svg {
    width: 50px;
  }
}
.section_combo .title-module span {
  text-transform: inherit;
}
.section_combo .routine-steps-links-container {
  padding-top: 10px;
  text-align: center;
  margin: 0 auto;
}
.section_combo .routine-step-link {
  color: var(--mainColor);
  margin: 20px;
  text-decoration: underline;
  font-size: 20px;
}
.section_combo .routine-step-link:hover {
  color: var(--mainColor) !important;
  text-decoration: underline !important;
}
.popup-sapo {
  position: fixed;
  bottom: 50px;
  left: 17px;
  margin: 0;
  z-index: 990;
  top: auto !important;
}
.popup-sapo .icon {
  position: relative;
  z-index: 4;
  height: 48px;
  width: 48px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ffffff;
  cursor: pointer;
  background: var(--mainColor);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  cursor: pointer;
}
.popup-sapo .icon svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
  transition: opacity 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out,
    -webkit-transform 0.35s ease-in-out;
  animation: iconSkew 1s infinite ease-out;
  min-height: -webkit-fill-available;
}
.popup-sapo .content {
  background: var(--mainColor);
  color: #fff;
  padding: 10px 10px 25px;
  border-radius: 10px;
  width: 290px;
  position: absolute;
  bottom: 27px;
  left: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  -webkit-transform-origin: 100% bottom;
  transform-origin: 0 bottom;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: -webkit-transform 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.35s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-transform 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: transform 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media (max-width: 322px) {
  .popup-sapo .content {
    width: 270px;
  }
}
.popup-sapo .content .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.popup-sapo .content .close-popup-sapo {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
.popup-sapo .content .close-popup-sapo svg {
  width: 15px;
  height: 15px;
}
.popup-sapo .content .close-popup-sapo svg path {
  fill: #fff;
}
.popup-sapo .content ul {
  margin-bottom: 15px;
}
.popup-sapo .content ul li {
  margin-bottom: 10px;
}
.popup-sapo .content ul li svg {
  margin-right: 10px;
}
.popup-sapo .content ul li svg path {
  fill: #fff;
}
.popup-sapo .content ul li a {
  color: #fff;
}
.popup-sapo .content ul li:hover svg path {
  fill: var(--subColor);
}
.popup-sapo .content ul li:hover a {
  color: var(--subColor);
}
.popup-sapo .content .ghichu {
  font-style: italic;
  font-size: 16px;
}
.popup-sapo.active .content {
  -ms-transition-delay: 0.1s;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.1s;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
